/* Add additional stylesheets below
-------------------------------------------------- */


/* Body and structure
-------------------------------------------------- */
body {
	background: #f7fbfe url(../img/bg.jpg) repeat-x 0 0;
}

.container {
	width: 850px;
	padding: 48px 0 0;
}

#masthead {
	position: relative;
	border: none;
	margin: 0 0 40px;
	padding: 0;
}

#masthead img {
	vertical-align: bottom;
}

#masthead .logo {
	position: absolute;
	top: 0;
	left: 0;
}

#masthead .site-name {
	float: left;
	margin-left: 148px;
	margin-top: 8px;
	line-height: 1.0;
}

#masthead .event-date {
	float: left;
	margin-left: 22px;
	margin-top: 19px;
	margin-bottom: 3px;
	line-height: 1.0;
}

#masthead .event-detail {
	clear: left;
	margin-left: 148px;
	padding-top: 4px;
	border-top: 1px dotted #abd5e9;
}

.ie7 #masthead .event-detail {
	margin-top: -40px;
}

#masthead .event-detail h3 {
	color: #333;
	line-height: 1.3;
}

#masthead .event-detail strong {
	color: #0b4a9a;
}

#masthead .event-detail img {
	vertical-align: baseline;
}

.visual {
	margin-bottom: 40px;
}

.visual img {
	width: 100%;
}

#primary {
	float: left;
	width: 540px;
	padding-bottom: 20px;
}

#secondary {
	float: right;
	width: 280px;
}

.widget {
	margin-bottom: 15px;
}

.widget a:hover img {
	opacity: 0.8;
}

.social-widget {
	background: #ffffff;
	border: 1px solid #cedff7;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	/*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
	-moz-box-shadow: 0px 0px 1px #ffffff;
	-webkit-box-shadow: 0px 0px 1px #ffffff;
	box-shadow: 0px 0px 1px #ffffff;
	/*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
	padding: 10px 5px;
}

.rgba .social-widget {
	background-color: rgba(255, 255, 255, 0.6);
}

.social-widget ul {
	list-style: none;
	margin: 0;
}

.social-widget li {
	display: inline;
	margin-left: 40px;
}

.fb-like-box {
	background: #ffffff;
}

.rgba .fb-like-box {
	background-color: rgba(255, 255, 255, 0.6);
}

.facebook-likebox {
	margin-top: 34px;
}

#footer {
	background: #0b4a9a url(../img/bg_footer.gif) repeat-x 0 0;
	color: #ffffff;
	text-align: center;
	padding-top: 11px;
}

#copyright {
	width: 850px;
	margin: 0 auto;
	padding: 5px 0;
	text-align: right;
}

#copyright p small {
	font-size: 12px;
	color: #ffffff;
}



/* Home page
-------------------------------------------------- */

.page-home header h1 {
	font-size: 20px;
	font-weight: normal;
	line-height: 1.2;
	color: #0b4a9a;
	text-shadow: 1px 1px white;
}

.page-home header h1 span {
	font-weight: bold;
	font-size: 24px;
	letter-spacing: -1px;
}

.page-home header h1 small {
	font-size: 13px;
	color: #0b4a9a;
	margin-left: -0.5em;
}

.page-home section {
	background: #ffffff url(../img/section-bg.gif) repeat 0 0;
	border: 1px solid #cedff7;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	/*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
	-moz-box-shadow: 0px 0px 1px #ffffff;
	-webkit-box-shadow: 0px 0px 1px #ffffff;
	box-shadow: 0px 0px 1px #ffffff;
	/*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
	margin: 23px 0 38px;
	padding: 14px 20px;
}

.page-home section h1 {
	font-size: 16px;
}



/* Media queries
-------------------------------------------------- */

@media (max-width: 979px) {
	/* tablet and phone */
	img {
		max-width: 100%;
	}
	.container {
		padding-left: 20px;
		padding-right: 20px;
		width: auto;
	}
	#masthead .site-name,
	#masthead .event-date {
		float: none;
		padding: 8px 0;
		margin: 0 0 0 148px;
	}
	#primary {
		width: 55%;
	}
	#secondary {
		width: 38%;
	}
	#copyright {
		width: auto;
		padding-right: 20px;
	}
}

@media (max-width: 767px) {
	/* phone */
	body {
		padding: 0;
	}
	.container {
		padding-top: 26px;
	}
	#masthead .logo {
		position: relative;
		text-align: center;
	}
	#masthead .site-name,
	#masthead .event-date,
	#masthead .event-detail {
		margin-left: 0;
	}
	#masthead .event-detail h3 {
		font-size: 14px;
	}
	#primary,
	#secondary {
		float: none;
		width: auto;
	}
	#copyright {
		text-align: center;
	}
}
